body{
  margin: 100px;
 background-image: url(imagens/po.jpg);
 background-size: cover;
 background-position: center;
}
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 20px); /* Ajuste a largura dos cards conforme necessário */
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
}

.btn-like {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-like i {
  color: red;
}

.likes {
  margin-left: 5px;
}

